*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arial';

}

body {
  background-color: #eceef2;
  margin: 0;
  padding: 0;
}

a {
  color: #167CCC;
  text-decoration: none;
}

header {
  padding:10px 30px;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
  padding: 0 6px 0 8px;
}

footer{
  padding: 20px 0;
}

footer ul {
  display: flex;
  justify-content:center;
  padding: 0;

}

footer ul li {
  padding-left: 10px;
}

footer ul li a {
  color: #505050;
  font-size: 12px;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer p {
  color: #505050;
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
}

.btn {
  background: #0077C5;
  border-radius: 4px;
  padding: 0 20px;
}

button i {
  font-size: 12px;
  padding-right: 4px;
}

.flex-container {
  display: flex;
}

.row {
  width: 100%;
}

.row:after {
  clear: both;
  content: " ";
  display: block;
}

.top-header p {
  color: #505050;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}

.top-header a:link {
  color: #0077C5;
}

.logo {
  background-image: url(../images/ecosystem_logos_new.png);
  display: block;
  height: 35px;
  margin: 20px auto;
  width: 118px;
}

.logo-bottom {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding: 0;
}

.logo-bottom li:first-child {
  background: url(../images/mint-favicon.svg) no-repeat;
  height: 23px;
  margin-right: 4px;
  width: 23px;
}

.logo-bottom li:nth-child(2) {
  background: url(../images/mint-text.svg) no-repeat;
  height: 20px;
  margin-right: 9px;
  width: 37px;
}

.logo-bottom li:nth-child(3) {
  background: url(../images/quickbooks-favicon@2x.svg) no-repeat;
  height: 23px;
  margin-right: 4px;
  width: 23px;
}

.logo-bottom li:nth-child(4) {
  background: url(../images/quick-books-text.svg) no-repeat;
  height: 22px;
  margin-right: 9px;
  width: 98px;
}

.logo-bottom li:nth-child(5) {
  background: url(../images/tt-favicon@2x.svg) no-repeat;
  height: 23px;
  margin-right: 4px;
  width: 23px;
}

.logo-bottom li:nth-child(6) {
  background: url(../images/turbo-tax-text.svg) no-repeat;
  height: 22px;
  width: 74px;
}

.btn {
  background-color: #ddd;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
}

.btn-primary {
  background-color: #167CCC;
}

.forgot-password {
  margin-right: 10px;
}

.pull-right {
	float: right;
}

.input-with-label {
  margin-bottom: 15px;
}

.input-with-label label, .input-with-label input {
  display: block;
  width: 100%;
}

.input-with-label label {
  font-size: 14px;
  padding: 8px 0;
}

.input-with-label input {
  border: 1px solid #C1C5C8;
  border-radius: 3px;
  height: 34px;
}

.input-with-label .info {
  font-size: 10px;
}

.form-container {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  color: #4C4C4C;
  margin: auto;
  width: 380px;
}

.form-container .btn-primary {
  font-size: 15.75px;
  height: 44px;
  padding: 6px 12px;
  width: 318px;
}

.form-header {
  padding: 30px 30px 0 30px;
  text-align: center;
}

.form-header .h1{
  font-size: 24px;
  font-weight: 400;
}

.form-header p {
  font-size: 14px;
}

.form-body {
  padding: 0 30px;
}

.form-privacy {
  font-size: 12px;
  font-style: italic;
  padding: 0 30px 20px 30px;
  text-align: center;
}

.form-footer {
  background-color: #ECEEF1;
  font-size: 12px;
  font-style: italic;
  padding: 12px;
  text-align: center;
}

header .btn {
  border: 1px solid #4c4c4c;
  height: 34px;
  padding: 0 20px;
}
